extend base.pug
block content
    .container.mt-3
        .row
            .col-3 
                .card.border-danger
                    img.card-img-top.p-4.border-success(src="https://th.bing.com/th/id/OIP.gF2EAu1hgOCHVhYWQ2Ui-AHaKW?pid=ImgDet&rs=1",style="height:250px;" alt="")
                    .card-body 
                        h1.fs-4.card-title=student.name
                        p=student.email 
            .col-9 
               .container 
                    .row
                        .col-8 
                            .card
                                .card-body 
                                    h5.h2.text-uppercase.text-info Add for Course 
                                    hr
                                    form(action="", method="post") 
                                        .mb-3.mt-2 
                                            label(for="") Select Course
                                            select.form-select(name="courseId") 
                                                each x in course 
                                                    option(value=`${x._id}`)=x.title
                                        .mb-2 
                                            input.btn.btn-success.w-100.text-danger.fs-3.p-1(type="submit")
                                    