extend base.pug
block content
    .container.mt-3
        .row
            .col-3 
                .card
                    img.card-img-top(src="https://th.bing.com/th/id/OIP.i_1f7CqIL7kr4oHugT7QvgAAAA?pid=ImgDet&rs=1", alt="")
                    .card-body 
                        h2.card-title Ayush Jha 
                        p NodeJs 
            .col-9 
                .container.bg-warning.p-5.rounded.text-white 
                    h1.display-3 Welcome, in AWS Coaching 
                    p.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate deserunt repellat praesentium saepe, iusto fugiat quia minima iste, hic illo aut eius officiis. Sunt odio quae aliquam ullam asperiores aliquid!
                .row
                    .col-4
                        .card.mt-2.bg-primary.text-white
                            .card-body 
                                h1 Manage Course 
                                a.btn.btn-dark(href="") Manage
                                a.btn.btn-success.ms-2(href="") Add
                    .col-4
                        .card.mt-2.bg-danger.text-white
                            .card-body 
                                h1 Manage Course 
                                a.btn.btn-dark(href="") Manage
                                a.btn.btn-success.ms-2(href="") Add
                    .col-4
                        .card.mt-2.bg-info.text-white
                            .card-body 
                                h1 Manage Course 
                                a.btn.btn-dark(href="") Manage
                                a.btn.btn-success.ms-2(href="") Add