extend base.pug

block content 
    include nav.pug
    .container.mt-5 
        .row 
            .col-6.mx-auto 
                .card   
                    .card-body 
                        h5.text-uppercase.text-info Apply for Admission 
                        hr
                        form(action="" method="post") 
                            .row 
                                .mb-3.col 
                                    label(for="") Name  :- 
                                    input.form-control(type="text" name="name")
                                .mb-3.col 
                                    label(for="") Father name  :-  
                                    input.form-control(type="text" name="father")
                                .mb-3.col 
                                    label(for="") Contact :-
                                    input.form-control(type="number" name="contact")
                            .row 
                                .mb-3.col 
                                    label(for="") Email  :- 
                                    input.form-control(type="email" name="email")
                                .mb-3.col 
                                    label(for="") Address  :- 
                                    input.form-control(type="text" name="address")
                                .mb-3.col 
                                    label(for="") Password  :-  
                                    input.form-control(type="password" name="password")
                            .mb-3.mx-auto.border.border-1.p-2 
                                .row 
                                    .col-3
                                        label(for="") Gender  :- 
                                    .col-9 
                                        .d-flex 
                                            .form-check.me-4 
                                                input.form-check-input(type="radio" name="gender" value="Male",checked) 
                                                label(for="") Male
                                            .form-check.me-4
                                                input.form-check-input(type="radio" name="gender" value="Felmale") 
                                                label(for="") Female
                                            .form-check.me-4
                                                input.form-check-input(type="radio" name="gender" value="Other") 
                                                label(for="") Other
                            .mb-3 
                                label(for="") Education (currently)  :- 
                                input.form-control(type="text" name="education")
                            .mb-3 
                                input.btn.btn-success.text-dark(type="submit" , name="send").w-100