nav.navbar.navbar-expand-lg.navbar-dark.py-1.h-14.bg-gradient-to-r.from-violet-500.to-fuchsia-500.bg-primary
    .container.px-3
        a.navbar-brand(href="") Coaching

        ul.navbar-nav 
            li.nav-item
                a.nav-link(href="/") Home 
            li.nav-item
                a.nav-link(href="") About 
            li.nav-item
                a.nav-link(href="") Course
            if ayush.student_id 
                li.nav-item
                    a.btn.btn-danger(href="/apply") Logout  
            else 
                li.nav-item
                    a.btn.btn-danger(href="/apply") Apply for Admission  